@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


/* Optional: add some global styles */
body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f9fafb; /* light gray background */
  color: #111827; /* dark gray text */
}
